footer.footer
    //- .container
        p
script(src='/bower_components/flat/js/vendor/jquery.min.js')
script(src='/bower_components/flat/js/vendor/video.js')
script(src='/bower_components/flat/js/flat-ui.min.js')
block js