//-
   Created by HaoBo on 2016/5/6.


script(src='/javascripts/jquery.js')
script(src='/javascripts/bootstrap.js')
script(src='/javascripts/ajax.js')
block js	
footer.footer
    .container
        p
            //a(href="www.baidu.com" target="_blank") poor_li