//
   Created by HaoBo on 2016/5/6.
head
    meta(charset="utf-8")
    block title
        title 主页
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="styleSheet", href='/bower_components/flat/css/vendor/bootstrap/css/bootstrap.min.css')
    link(rel="styleSheet", href='/bower_components/flat/css/flat-ui.css')
    link(rel="shortcut icon", href="/bower_components/flat//images/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/style.css")
    block css
