//-
   Created by HaoBo on 2016/5/6.
//
    导航栏
.navbar.navbar-fixed-top.navbar-inverse
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".nav-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.hidden-sm(href="/") 首页
        .nav-collapse(role="navigation")
            //- ul.nav.navbar-nav
            //-     li.active
            //-         a(href="/") 首页
            case
            if (user)
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a#dLabel(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{user.username}
                        ul.dropdown-menu(aria-labelledby="dLabel")
                            li
                                a(href='/home') 个人中心
                            li
                                a(href='/loginout/user') 退出
            else
                if (tourist)
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a#dLabel(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{tourist.username}
                            ul.dropdown-menu(aria-labelledby="dLabel")
                                li
                                    a(href='/home') 个人中心
                                li
                                    a(href='/loginout/tourist') 退出
                else
                    if (company)
                        ul.nav.navbar-nav.navbar-right
                            li.dropdown
                                a#dLabel(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{company.username}
                                ul.dropdown-menu(aria-labelledby="dLabel")
                                    li
                                        a(href='/home') 个人中心
                                    li
                                        a(href='/loginout/company') 退出
                    else
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/login") 请登录                                                                
