//
   Created by HaoBo on 2016/5/6.
head
    meta(charset="utf-8")
    block title
        title 主页
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="styleSheet", href='/stylesheets/bootstrap.css')
    block css
