extends layout
block title
    title 公司登陆
block css
    link(src="../public/stylesheets/login.css")
block content
    h1 欢迎登陆
    if message
        p.alert.alert-warning=message
    form.form-horizontal(method="post" action="/login/company")
        .control-group
            label.control-label(for="username") 用户名
            .controls
                input#username.input-lg(type="text" name="username")
        .control-group
            label.control-label(for="password") 密码
            .controls
                input#password.input-lg(type="password" name="password")
        .form-action
            button.btn.btn-primary(type="submit") 登陆