extends company
block title
	title 删除旅游路线
block display
	form#line.form-horizontal(method="post" action="/company/delete")
		.line						
			select.lineList(name="name")
				each line, index in lineList
					option(value="#{line.name}") #{line.name}
			span.delete 删除景点						
		.form-action
			button.btn.btn-primary(type="submit") 删除路线
