extends layout
block title
	title 预定用户
block content
	.container
		each order, index in orderList
			.col-lg-3
				ul
					li  姓名：#{order.name}
					li 	身份证号码：#{order.id}
					li 	联系方式：#{order.phone}
																				