extends layout
block title
    title myBlog
block content
    .jumbotron.masthead
        .container
            h1 欢迎来到游游网
                p.masthead-buttoon-links
                    a.btn.btn-primary.btn-shadow(href="/login") 登录
                    a.btn.btn-default(href="/reg") 立即注册