extends layout
block title
	title 爱旅行
block content
	.jumbotron
		.page-header
			h1 欢迎来到爱旅行
			p 一个致力于打造旅游生态，同时于为旅游局、旅游公司和用户服务的网站，
			//- a.btn.btn-large.btn-block(href="/login") 登录
			unless isLogin
				a.btn.btn-large.btn-block.btn-primary(href="/reg" style="width:150px") 立即注册