extends layout
block title
    title myBlog
block content
    .jumbotron.masthead
        .container
            h1 欢迎来到blog
                h2 blog是基于Node.js 的微博系统
                p.masthead-buttoon-links
                    a.btn.btn-primary.btn-shadow(href="/login") 登录
                    a.btn.btn-default(href="/reg") 立即注册