//- extends layout
html
    include ./includes/head
    block title
        title 用户登陆
    block css
        link(rel="styleSheet", href='/bower_components/flat/css/login.css')
        //- link(rel='stylesheet', href='/stylesheets/login.css') 
    body
        block content
            block condition
                - var loginType = "user"
                - var anotherType = "company"
                - var loginTypeName = "旅游公司登陆"
            .login(style="")
                .login-screen
                    .login-icon
                        img(src="/bower_components/flat/img/login/icon.png" alt="Welcome to youyou")
                        h4 欢迎登陆
                            small 爱旅游
                    .login-form    
                        form(method="post" action="/login/#{loginType}")
                            .control-group
                                input#login-name.login-field.input-larget(type="text" name="username" placeholder="用户名" required)
                                label.login-field-icon.fui-man-16(for="login-name")
                            .control-group
                                input#login-pass.login-field.input-larget(type="password" name="password" placeholder="密码" required)
                                label.login-field-icon.fui-man-16(for="login-pass")
                            button.btn.btn-primary.btn-large.btn-block(type="submit") 登陆
                        block link
                            a.login-link(href="/login/#{anotherType}") #{loginTypeName}
            if message
                .btn.btn-large.btn-block.btn-warning(style="width:940px;margin:0 auto")=message  
                            //- a.login-link(href="/login/tourist") 旅游局登陆 
        include ./includes/footer




            //.control-group
            //    label.control-label(for="user") 用户
            //        input#user(type="radio" name="type" value="user")
            //    label.control-label(for="company") 公司
            //        input#company(type="radio" name="type" value="company")
            //    label.cotrol-label(for="tourist") 旅游局
            //        input#tourist(type="radio" name="type" value="tourist")