extends tourist
block title
	title 某某旅游局
block display
	form(method="post" action="/tourist/delete" )
		select#sight.lg(name="name")
			each sight, index in sightList
				option(value="#{sight.name}") #{sight.name}
			//- option(value="#{sight.name}") #{sight.name} 
		input#submit.btn.btn-primary(type="submit", name="submit" value="删除景点")			