extends layout
block title
	title 某某旅游局
//- block css
block content
	block list
		.col-lg-3
			ul.todo.mrm
				li
					a(href="/tourist/add") 增加景点
				li
					a(href="/tourist/modification") 修改景点
				li
					a(href="/tourist/delete") 删除景点
	.col-lg-9
		if message
			p.alert.alert-warning=message			
		block display
			h1 欢迎进入管理系统				