extends layout
block title
	title 用户
block content
	if message
		p.alert.alert-warning=message
	form.center(method="post" action="/user/inquire" style="text-align:center;margin:100px;")
		input(type="text" name="line" value="" placeholder="请输入查询条件" style="width:300px;margin-right:30px" required)
		button.btn.btn-success(type="submit") 查询线路
	block result		
	//- .sight
	//- 	a(href="user/sightlist") 查询景点
	//- .line
	//- a(href="user/linelist") 查询线路        